<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<connectionStrings>
		<add name="conStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ListaRadnika.mdf;Integrated Security=True"/>
	</connectionStrings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>